<div class="main-section bounce">
  <particles [width]="width" [height]="height" [params]="myParams"></particles>    
  <app-hero-banner *ngIf="HeroBannerData" [data]="HeroBannerData" class="bounce animated"></app-hero-banner>
</div>

<div class="section white-bg">
  <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="columns">
        <div class="column is-2 is-offset-1">
          <app-title *ngIf="titleData" [data]="titleData" class="bounce animated"></app-title>
        </div>
        <div class="column is-8">
          <div *ngIf="titleData" class="content bounce animated" [innerHtml]="description">
          </div>
        </div>
    </div>
  </div>
</div>

<div class="section green-bg">
  <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="columns">
        <div class="column is-2 is-offset-1">
          <app-title *ngIf="titleData" [data]="titleData"></app-title>
        </div>
        <div class="column is-8 bounce animated" *ngIf="experienceData">
            <app-experience-card [data]="experienceData"></app-experience-card>
            <app-experience-card [data]="experienceData"></app-experience-card>
            <app-experience-card [data]="experienceData"></app-experience-card>
        </div>
    </div>
  </div>
</div>

<div class="section white-bg">
  <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="columns">
        <div class="column is-2 is-offset-1">
          <app-title *ngIf="titleData" [data]="titleData"></app-title>
        </div>
        <div class="column is-8 bounce animated">
          <app-progress-bars *ngIf="progressBar" [data]="progressBar | iterator"></app-progress-bars>
        </div>
    </div>
  </div>
</div>

<div class="section green-bg">
    <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <div class="columns">
          <div class="column is-2 is-offset-1">
            <app-title *ngIf="titleData" [data]="titleData"></app-title>
          </div>
          <div class="column is-8 bounce animated">
              <app-education-content *ngIf="educationContent" [data]="educationContent | iterator"></app-education-content>
          </div>
      </div>
    </div>
  </div>

<div class="section white-bg">
  <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="columns">
        <div class="column is-2 is-offset-1">
          <app-title *ngIf="titleData" [data]="titleData"></app-title>
        </div>
        <div class="column is-8 bounce animated">
          <app-project-card *ngIf="ProjectData" [data]="ProjectData | iterator"></app-project-card>
        </div>
    </div>
  </div>
</div>

<div class="section white-bg contact-me">
    <div class="section-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <div class="columns">
          <div class="column is-2 is-offset-1">
            <app-title *ngIf="titleData" [data]="titleData"></app-title>
          </div>
          <div class="column is-8 bounce animated">
            <app-contact-me *ngIf="contactMe" [data]="contactMe"></app-contact-me>
          </div>
      </div>
    </div>
  </div>