.education-content{
    margin-bottom: 15px;
    .small{
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 22px;
        font-weight: 700;
        margin-left: -3px;
        margin-bottom: 10px;
    }
    .school-name{
        font-size: 18px;
        font-weight: 400; 
    }
}