.progress-bar-container{
    margin-bottom: 1.5rem;
    h2{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5px;
    }
}
.progress {
    -webkit-transition : width 5s ease;
    -moz-transition : width 5s ease;
    -o-transition : width 5s ease;
    transition : width 5s ease;
  }