@import "../../../assets/sass/app-variables.scss";
.project-card{
    margin-bottom: 10px;
    .card{
       background: transparent; 
       box-shadow: none;
       margin-bottom: 20px;
       .card-image{
           figure{
               img{
                   border-radius: 10px;   
               }
           }
       }
    .project-link{
        h2{
            color: $primary-font-color;
            font-size: 15px;
            margin: 10px auto;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .project-tag-container{
        .tag:not(body){
            color: $secondary-font-color;
            height: 3em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            border: solid 1px $secondary-font-color;
            font-size: 12px;
            font-weight: 400;
            background-color: transparent;
            margin-right: 5px;
        }
    }
    }
}